.tiles {
  border: 2px solid var(--bg-gray);
  padding: 32px 24px;
  background-color: white;
}

.tiles-container {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  height: 100%;
}

.tiles-icon {
  width: 60px;
  height: 60px;
}

.tiles-title {
  font-size: clamp(0.75rem, 0.5rem + 0.6667vw, 1rem);;
  font-family: "Optimal Regular", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.tiles-description {
  font-size: clamp(0.65rem, 0.5rem + 0.6667vw, 1rem);
  font-family: Montserrat, sans-serif;
  font-weight: 200;
  color: var(--text-dark);
}
