.companies-section {
  height: max-content;
  padding: clamp(2.5rem, 5vw, 5rem);
  background-image: url("/images/backgrounds/companies-background.webp");
  background-color: rgb(var(--text-dark));
}

.companies-container,
.companies-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.companies-container {
  gap: 4vh;
}

.companies-title {
  gap: 4vh;
}

.companies-headline {
  font-size: clamp(0.75rem, 0.5rem + 0.6667vw, 1rem);
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  color: var(--disable-gray);
}

.companies-subtitle {
  font-size: clamp(1.4rem, 0.5rem + 1.6667vw, 2.5rem);
  font-family: "Optimal Regular", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
}

.companies-blocks {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-content: center;
  gap: 1rem;
  width: 100%;
}
