.container {
  width: 100%;
  height: 680px;
  background-image: url("/images/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.rectangle {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(35, 34, 40, 0.91);
}
    