.container {
  width: 100%;
  height: 680px;
  background-image: url("/images/backgrounds/hero-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.rectangle {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgba(var(--text-dark), 0.91);
}
