.advantages-section {
  width: 100%;
  height: fit-content;
  padding: 80px 70px;
  background-image: url("/images/backgrounds/scales.webp");
  background-repeat: no-repeat;
  background-position: right;
}

.advantages-container {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  align-items: center;
  height: 100%;
}

.advantages-tiles {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.advantages-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 38%;
  gap: 4vh;
  text-align: center;
  white-space: nowrap;
}

.advantages-headline {
  font-size: clamp(0.75rem, 0.5rem + 0.6667vw, 1rem);;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  color: var(--disable-gray);
}

.advantages-subtitle {
  font-size: clamp(1.4rem, 0.5rem + 1.6667vw, 2.5rem);
  font-family: "OptimalEl Regular", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--text-dark);
}
