.blocks {
  border: 1px solid var(--disable-gray);
  width: fit-content;
  padding: 32px 24px;
}

.blocks-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2vh;
  height: 100%;
}

.blocks-icon {
  width: 150px;
  height: 86px;
  object-fit: contain;
}

.blocks-title {
  font-size: clamp(0.75rem, 0.5rem + 0.6667vw, 1rem);
  font-family: "Optimal Regular", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
}
