.footer {
  background-color: var(--disable-gray);
  text-align: center;
}

.footer p {
  margin: 22px 0;
  font-size: clamp(0.75rem, 0.5rem + 0.6667vw, 1rem);
  font-family: Montserrat, sans-serif;
  font-weight: 200;
}
