.article {
  position: relative;
  flex: 1 1 auto;
}

.article-img {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: auto;
}

.article-info {
  position: absolute;
  z-index: 1;
  top: 66%;
  left: 6%;
  bottom: 2%;
  right: 8%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article-date {
  font-size: 14px;
  color: var(--disable-gray);
}

.article-title {
  font-size: 16px;
  font-family: "Optimal Regular", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  color: rgb(var(--text-dark));
}
