@font-face {
  font-family: "Optimal Regular";
  src: url("./../public/assets/fonts/optimal-regular.ttf") 
    format("ttf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OptimalEL Regular";
  src: url("./../public/assets/fonts/optimalEL-text.otf") 
    format("otf");
  font-style: normal;
  font-display: swap;
}


body {
  margin: 0;
  font-family: -apple-system, "Montserrat", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul{
  padding: 0;
  margin: 0;
}

a{
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

:root {
  --light-yellow: rgb(227, 195, 122);
  --disable-gray: rgba(177, 177, 177, 1);
  --border-color: rgb(137, 130, 140);
}


.montserrat{
  font-family: 'Montserrat';
  font-style: normal;
}

.montserrat-light{
  font-weight: 300;
}