.review-desciption {
  font-size: clamp(0.65rem, 0.5rem + 0.6667vw, 1rem);;
  color: var(--disable-gray);
}

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
}

.review-name {
  font-size: clamp(0.75rem, 0.5rem + 0.6667vw, 1rem);;
  font-family: "Optimal Regular", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  color: rgb(var(--text-dark));
}

.review-text {
  font-size: clamp(0.75rem, 0.5rem + 0.6667vw, 1rem);;
  font: Montserrat, sans-serif;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}

.review-photo {
  position: absolute;
  z-index: 3;
  top: -54px;
  width: 108px;
  height: 108px;
  border-radius: 50%;
  background-color: rgb(86, 86, 86);
  object-fit: contain;
}

.review-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
