.director-section {
  position: relative;
  display: flex;
  width: 100%;
  height: fit-content;
  @media (max-width: 768px) {
    align-items: center;
    justify-content: center;
  }
}

.director-picture {
  position: relative;
  width: 30%;
  @media (max-width: 768px) {
    display: none;
  }
}

.director-background {
  width: 74%;
  height: 100%;
  background-image: url("/images/backgrounds/director-background.webp");
  background-color: var(--light-yellow);
}

.director-photo {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 80%;
  height: 100%;
}

.director-photo img {
  height: 100%;
}

.director-content {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  position: relative;
  margin-top: 12vh;
  margin-left: 10vw;
  margin-bottom: 12vh;
  width: 52%;
  height: fit-content;
}

.director-title {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 76%;
  gap: 4vh;
}

.director-headline {
  display: flex;
  align-items: center;
  width: 50%;
  height: 20px;
  gap: 0.5vw;
  white-space: nowrap;
}

.director-headline p {
  width: 84%;
  height: 100%;
  font-size: clamp(0.75rem, 0.5rem + 0.6667vw, 1rem);
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  color: var(--disable-gray);
}

.director-headline div {
  width: 16%;
  height: 1px;
  background-color: var(--disable-gray);
}

.director-name {
  bottom: 0;
  width: 30%;
}

.director-name h3 {
  margin-bottom: clamp(0.75rem, 0.5rem + 0.6667vw, 1rem);
  font-family: "Optimal Regular", sans-serif;
  font-weight: 400;
  font-size: clamp(0.75rem, 0.5rem + 0.6667vw, 1rem);
  white-space: nowrap;
}

.director-name p {
  font-size: clamp(0.75rem, 0.5rem + 0.6667vw, 1rem);
  font-family: "Montserrat", sans-serif;
  color: var(--disable-gray);
  white-space: nowrap;
}

.director-subtitle {
  bottom: 0;
  width: 100%;
  font-family: "OptimalEL Regular", sans-serif;
  font-weight: 100;
  font-size: clamp(1.4rem, 0.5rem + 1.6667vw, 2.5rem);
  text-transform: uppercase;
  white-space: nowrap;
  white-space: nowrap;
}

.highlight-text {
  color: var(--light-yellow);
}

.director-promise {
  width: 70%;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: clamp(0.75rem, 0.5rem + 0.6667vw, 1rem);
  color: black;
  margin-bottom: 6vh;
}

.director-signature {
  position: absolute;
  top: 30vh;
  right: 10vh;
  bottom: 2vh;
  width: 24%;
  height: 20vh;
}

.first-quote,
.second-quote {
  position: absolute;
  width: 70px;
  height: 192px;
  font-size: clamp(4rem, 2.6667rem + 4.4444vw, 8rem);
  font-family: Kornilow, sans-serif;
  font-weight: 100;
  color: var(--bg-gray);
}

.first-quote {
  top: 30vh;
  left: -10vw;
  @media (max-width: 1280px) {
    left: -12vw;
  }
  @media (max-width: 768px) {
    top: 34vh;
    left: -14vw;
  }
}

.second-quote {
  bottom: 30vh;
  right: 10vw;
  @media (max-width: 1280px) {
    right: 12vw;
  }
  @media (max-width: 768px) {
    right: -4vw;
  }
}

.first-quote p,
.second-quote p {
  height: 10vh;
  text-align: center;
}
