.contacts {
  display: flex;
  height: fit-content;
  @media (max-width: 1280px) {
    flex-direction: column;
  }
}

.contacts-map {
  object-fit: fill;
  width: 40%;
  @media (max-width: 1280px) {
    width: 100%;
    height: 50%;
    max-height: 400px;
    object-fit: cover;
  }
}

.contacts-content {
  width: 60%;
  background-color: rgb(var(--text-dark));
  background-image: url("/images/backgrounds/contacts-background.webp");
  padding: 4vw;
  @media (max-width: 1280px) {
    width: 100%;
    height: 50%;
    padding: 0.6vw;
  }
}

.contacts-container {
  display: flex;
  flex-direction: column;
  gap: 6vh;
}

.contacts-title {
  display: flex;
  gap: 4vh;
  flex-direction: column;
  width: 90%;
  left: 0;
}

.contacts-headline {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.contacts-headline div {
  width: 10%;
  height: 1px;
  background-color: var(--disable-gray);
}

.contacts-headline p {
  font-size: clamp(0.75rem, 0.5rem + 0.6667vw, 1rem);
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  color: var(--disable-gray);
}

.contacts-subtitle {
  width: 86%;
  font-size: clamp(1.4rem, 0.5rem + 1.6667vw, 2.5rem);
  font-family: "OptimalEL Regular", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 1.2;
  white-space: nowrap;
  color: white;
}

.contacts-text p {
  width: 86%;
  font-size: clamp(0.75rem, 0.5rem + 0.6667vw, 1rem);
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.contacts-request {
  display: flex;
  gap: 1vw;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 14vw;
}

.request-form {
  display: flex;
  gap: 0.5vw;
  height: 50%;
}

.request-title {
  text-transform: uppercase;
  font-family: "Optimal Regular", sans-serif;
  color: white;
}

.contacts-info {
  display: flex;
  gap: 2vw;
  flex-wrap: wrap;
  width: 80%;
}

.contacts-info p {
  flex: 1 1 calc(50% - 3vw);
  font-size: clamp(0.75rem, 0.5rem + 0.6667vw, 1rem);
  font-family: "Optimal Regular", sans-serif;
  color: white;
  white-space: nowrap;
}
